<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="MySefHostService.Servico.CustomerService"
               behaviorConfiguration="wsdlConfiguration">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/WCF"></add>
            <add baseAddress="net.tcp://localhost:7874"></add>
          </baseAddresses>
        </host>
        <endpoint
          address="custumerAddress"
          binding="basicHttpBinding"
          contract="MySefHostService.Servico.ICustomer" />

        <endpoint
         address="custumerAddress"
         binding="netTcpBinding"
         contract="MySefHostService.Servico.ICustomer" />

        <endpoint
             address="mex"
             binding="mexHttpBinding"
             contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsdlConfiguration">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>